$ralewayFont: "Raleway";
$blinkerFont: "Blinker";
$copperPalletGradient: "linear-gradient(124.76deg, #F5E4CA 12.61%, #DBBA89 63.66%";

.blinker-font {
  font-family: $blinkerFont;
}

.raleway-font {
  font-family: $ralewayFont;
}
