.accordian {
  width: 90%;
  margin-bottom: 15px;
  line-height: 20px;
  border: 1px solid rgba(209, 213, 219, 0.5);
}
.accordian-button {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  width: 95%;
  line-height: 22px;
}
.accordian-image {
  width: 3vh;
  transition: ease-out 1s;
}

.accordian-image-up {
  transform: rotateZ(-180deg);
  transition: ease-out 1s;
}

.accordian-answer-hidden {
  opacity: 0;
  padding: 0px;
  line-height: 0px;
  transition: ease-out 1s;
}
.accordian-answer {
  opacity: 1;
  padding: 5px;
  font-size: 20px;
  line-height: 36px;
  transition: ease-out 1s;
}

@media screen and (max-width: 480px) {
  .accordian-button {
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  .accordian-answer {
    font-size: 16px;
    line-height: 20px;
  }
  .accordian {
    width: 90%;
  }
}
