.ca_Rulebook_Headings {
    font-family: Blinker;
    font-style: normal;
    font-weight: 600;
    font-size: 1.85em;
    line-height: 36px;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

#ca_rulebook_border {
    height: 0.5vh;
    width: 8.5vw;
    background: linear-gradient(124.76deg, #f5e4ca 12.61%, #dbba89 63.66%);
    margin-bottom: 2rem;
}