.Task_cap_underline {
  width: 5vw;
  height: 1.5vh;
  background: linear-gradient(124.76deg, #f5e4ca 12.61%, #dbba89 63.66%);
  clip-path: polygon(5% 10%, 95% 10%, 100% 50%, 0% 50%);
  margin-bottom: 1vw;
  margin-top: 1.5vh;
  // height: 10px;
  margin-left: 1.3vw;
}

.Cap_Content_cotainer {
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.56vw;
  color: rgba(233, 240, 244, 1);
  margin-top: 2vw;
}
.Task_flex {
  // display: grid;
}
.Task_flex_card {
  float: left;
  width: 25%;
  margin: 2rem 6rem 2rem 0;
}

.task_heading {
  margin-left: 1.3vw;
  margin-top: 1.6vh;
  font-size: 1.5em;
}
@media screen and (max-width: 1000px) {
  .task_heading {
    margin-left: 1.3vw;
    font-size: 3vw;
    margin-bottom: 1vw;
  }
  .Task_cap_underline {
    width: 7.8vw;

    margin-bottom: 8vw;
    height: 15px;
    margin-left: 1.3vw;
  }
}

@media screen and (max-width: 768px) {
  .task_heading {
    margin-left: 10vw;
    font-size: 5em;
  }
  .Task_cap_underline {
    margin-left: 10vw;
    width: 16vw;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .Task_flex_card {
    float: left;
    width: 50%;
  }
}

@media screen and (width: 1024px) {
  .Cap_Content_cotainer {
    margin-left: 3rem;
  }
  .Task_flex_card {
    float: left;
    width: 35%;
    margin-right: 6.5rem;
  }

  .task_heading {
    font-size: 2.5em;
  }

  .Task_cap_underline {
    width: 8vw;
  }
}

@media screen and (width: 768px) {
  .Cap_Content_cotainer {
    margin-left: 8rem;
  }

  .task_heading {
    margin-left: 1rem;
    padding-bottom: 1rem;
    font-size: 4em;
  }
  .Task_cap_underline {
    margin-left: 1rem;
    width: 13vw;
  }
}
