.profile-container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // margin-top: 150px;
  .profile-image {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid #dbba89;
    border-width: 1px;
    line-height: 100px;
    text-align: center;
    p {
      font-size: 5rem;
      font-weight: 600;
      font-family: "Varela Round";
    }
  }
  #avatar {
    width: 60px;
    height: 60px;
  }
  .profile-details {
    width: 100%;
    margin-left: 20px;
  }

  .profile-details-name {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .profile-details-name2 {
    display: flex;
    justify-content: flex-start;
    width: 80%;
  }
  .profile-details-name3 {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-top: 15px;
  }
  .profile-details-name-one {
    font-family: Blinker;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }
  .profile-details-name-points {
    font-family: Blinker;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #dbba89;
    margin-left: 73px;
  }
  .profile-circle {
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-right: 16px;
    margin-left: 21px;
  }
  .profile-white-text {
    font-family: Blinker;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

    margin-right: 10px;
  }
  .profile-golden-text {
    font-family: Blinker;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #dbba89;
    // margin-left: 10px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .profile-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    .profile-image {
      width: 80px;
      height: 80px;
      p {
        font-size: 4.5rem;
      }
    }
    #avatar {
      width: 50px;
      height: 50px;
    }
    .profile-circle {
      margin-left: 4px;
    }
    .profile-details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 0%;
    }
    .profile-details-name {
      width: 82%;
    }

    .profile-details-name3 {
      margin-top: 0px;
    }
    .profile-details-name-one {
      font-size: 24px;
    }
    .profile-details-name-points {
      font-size: 18px;
      margin-left: 18px;
    }
    .profile-white-text {
      font-size: 15px;
    }
    .profile-golden-text {
      font-size: 15px;
    }
  }
}

@media screen and (width: 1024px) {
  .profile-container {
    margin-left: 3rem;
  }
}

@media screen and (width: 768px) {
  .profile-container {
    margin-left: 4rem;

    .profile-details-name-one {
      margin-top: 2rem;
      font-size: 3em;
    }

    .profile-details-name-points {
      margin-top: 2.2rem;
      font-size: 3rem;
    }

    .profile-white-text {
      font-size: 1.5em;
    }
    .profile-golden-text {
      font-size: 1.5em;
    }
  }
}
