.cap-main-container {
  margin-top: 100px;
  display: flex;
}
.cap-right-outer-container {
  display: flex;
  flex-direction: column;
  margin-left: 18vw;
}
.cap-profile-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 508px) {
  .cap-right-outer-container {
    margin-left: 0;
  }
  .cap-right-outer-container {
    width: 100vw;
  }
}
