.custom-gradient-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(124.76deg, #f5e4ca 12.61%, #dbba89 63.66%);
  cursor: pointer;
  border-radius: 0.5vw 0.25vw 0.5vw 0px;
  padding: 1vh 0vw;
  font-weight: 700;
  font-size: 20px;
  color: black;
  width:120px;
}

@media screen and (max-width: 540px) {
  .custom-gradient-btn-container {
    border-radius: 2.5vw 1.25vw 2.5vw 0px;
  }
}

@media screen and (width: 768px) {
  .custom-gradient-btn-container {
    font-size: 15px;
    border-radius: 8px 4px 8px 0px;
  }
}
