.Dashboard-events-main-container{
    display: flex;
    margin-top: 100px;
    flex-direction: row;
}
.Dashboard-events-nav-container{
    width:50%;
}
.Dashboard-events-content-container{
    margin-left: 320px;
}