.events-page-heading {
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 117px;
  margin-top: 140px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e9f0f4;
}

.esummit-events-page {
  margin: 0 5% 5% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 540px) {
  .events-page-heading {
    font-size: 32px;
    margin-top: 150px;
    margin-bottom: 40px;
  }
}
