.Event-rules-head {
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 36px;

  color: #e9f0f4;
}
.Event-rules-list {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* identical to box height, or 32px */
  margin-bottom: 12px;
  letter-spacing: 0.02em;

  /* Theme Light Blue */

  color: #e9f0f4;
}
