.Event-rules-list {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.041vw;
  line-height: 1.6vw;

  letter-spacing: 0.02em;

  /* Theme Light Blue */

  color: #e9f0f4;
}
.Event_rule_text {
  margin-left: 1%;
}

.event_rule_loop {
  display: flex;
}
.Event_ellipse_rule {
  width: 0.976vw;
  height: 0.976vw;
  margin-top: 0.4vw;
}
@media screen and (max-width: 768px) {
  .event_rule_loop {
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 20px;
    display: flex;
  }

  .Event_ellipse_rule {
    width: 3vw;
    height: 3vw;
    margin-top: 0.4vw;
    margin-left: 4vw;
  }
  .Event_rule_text {
    font-size: 14px;
  }
}
