.new-footer-container {
  overflow: hidden;
  font-family: $ralewayFont;
  background-color: black;
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  .width-30 {
    width: 20%;
    margin-left: 10%;
  }
  .width-40 {
    width: 15%;
  }
  .width-45 {
    margin-left: 10%;
    width: 40%;
  }
  .new-footer-container-child {
    background-color: black;
    padding: 1rem;

    .new-footer-form {
      width: 75%;
      background-color: black;
      margin: auto;
      .new-footer-form-heading {
        color: #dfe0e1;
        font-weight: 800;
        font-size: 1.6rem;
        letter-spacing: 1.3px;
      }
      .new-form-error {
        margin-top: 1rem;
        color: red;
        font-size: 1rem;
      }
      .new-footer-form {
        background-color: black;
      }
      .new-form-success {
        margin-top: 1rem;
        color: green;
        font-size: 1rem;
      }

      .new-footer-form-input-container {
        width: 100%;
        padding-top: 0.5rem;
        background-color: black;
        opacity: 0.5;

        .new-footer-form-field {
          padding: 0.5rem;
          outline: none;
          background-color: black;
          margin-top: 1rem;
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.6);
          border: 0.64px solid #e9f0f4;
          border-radius: 8px;
        }

        .width-100 {
          width: 100%;
        }

        .height-100 {
          // height: 100%;
          padding: 18px 24px;
        }

        .textarea-field {
          width: 100%;
          padding: 18px 24px;
        }
      }
      .new-footer-form-input-contact {
        display: flex;
        justify-content: space-between;
      }
      .clip {
        display: flex;
        justify-content: center;
        height: 40px;
        width: 100px;
        background-color: black;
        margin-top: 15px;
        border: 1px solid;
        border-color: #e9f0f4;
        color: #e9f0f4 !important;
        font-family: $blinkerFont;
        font-weight: bold;
        border-radius: 10px;
        /* letter-spacing: 0.038em; */
        text-transform: uppercase;
        font-size: 0.9rem !important;
        line-height: 2.2rem;
        text-align: center;
        transition: 0.3s;
      }
      .clip:hover {
        color: black !important;
        background-color: #e9f0f4;
      }
    }
    .new-footer-section-ecell-logo {
      background-image: url("../public/Ecell_logo.png");
      height: 75px;
      background-color: black;

      background-repeat: no-repeat;
      background-size: contain;
      transition: ease-in-out 0.5s;
    }
    .new-footer-section-esummit-logo {
      background-color: black;
      background-image: url("../public/Esummit_logo.png");
      height: 75px;
      background-repeat: no-repeat;
      background-position: 0;
      transition: ease-in-out 0.5s;
    }
    .new-footer-section-contact-container {
      background-color: black;
      .prewrap {
        white-space: prewrap;
      }
      .new-footer-section-contact-heading {
        background-color: black;

        margin-top: 1rem;
        font-weight: bold;
        color: #e9f0f4;
        font-family: $blinkerFont;
        margin: 1rem 0 0 0;
        justify-content: space-between;
        font-size: 1.4rem;
        line-height: 2.4rem;
        text-align: left;
        width: fit-content;
      }
      .logo-container {
        display: flex;

        flex-wrap: wrap;
      }
      .new-footer-section-contact-subheading {
        background-color: black;

        font-weight: normal;
        font-family: $ralewayFont;
        letter-spacing: 0.03em;

        margin-top: 1rem;
        color: #dfe0e1;
        font-size: 1.2rem;
        word-wrap: break-word;
        .new-footer-section-contact-link {
          margin-right: 1.5rem;
          margin-top: 0.5rem;
          transition: ease-in-out 0.5s;
          .new-footer-section-contact-logo {
            background-color: black;

            margin-right: 0;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.new-footer-section-contact-container-additional-margin01 {
  background-color: black;

  padding-top: 2rem;
}
.new-footer-section-contact-container-additional-margin0 {
  background-color: black;

  padding-top: 2rem;
}
.new-footer-section-contact-container-additional-margin {
  background-color: black;

  padding-top: 5.68rem;
}
.new-footer-section-contact-container-additional-margin1 {
  background-color: black;

  padding-top: 4rem;
}
.padding-1rem {
  padding: 1rem;
}
.padding-left-3rem {
  padding: 1rem 0 0 3rem;
}
#inputContact {
  margin-right: 3%;
}
.new-footer-section-esummit-logo:hover {
  opacity: 0.7;
}
.new-footer-section-contact-link:hover {
  opacity: 0.7;
}
.new-footer-section-ecell-logo:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 760px) {
  .new-footer-container {
    padding: 1rem;
    flex-direction: column-reverse;
    .width-30 {
      width: 100% !important;
    }
    .width-40 {
      width: 100% !important;
      display: flex;
      align-items: center;
    }
    .width-45 {
      width: 100% !important;
      margin-left: 0% !important;
    }
    .new-footer-form-input-contact {
      display: flex;
      flex-direction: column;
    }
    .width-99 {
      width: 100%;
    }
    .new-footer-section-ecell-logo {
      display: none;
    }
    .new-footer-section-esummit-logo {
      display: none;
    }
    .new-footer-container {
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .new-footer-form {
      width: 85% !important;
    }
    .clip {
      margin-left: 25%;
    }
  }
  .new-footer-section-contact-container-additional-margin01 {
    background-color: black;

    padding-top: 0rem !important;
  }
  .new-footer-section-contact-container-additional-margin0 {
    background-color: black;
    padding-top: 0rem !important;
  }
  .new-footer-section-contact-container-additional-margin {
    background-color: black;
    padding-top: 0rem !important;
  }
  .new-footer-section-contact-container-additional-margin1 {
    background-color: black;

    padding-top: 0rem !important;
  }
}

@media only screen and (max-width: 1100px) {
  .width-30 {
    width: 34% !important;
    margin-left: 0% !important;
  }
  .width-40 {
    width: 28% !important;
  }
  .width-45 {
    width: 38% !important;
    margin-left: 0% !important;
  }
  .new-footer-form-input-contact {
    display: flex;
    flex-direction: column;
  }
  .width-99 {
    width: 100%;
  }
}
