.heading-date{
  font-size: 0.9em;
}
.heading-esummit{
  font-size: 1.5em !important;
}
.landing {
  padding: 5vw 10vw;
  height: 100vh;
  margin-top: 5vh;
  background-image: url('/giff.gif');
  background-repeat: no-repeat;
	background-position: center;
}

#headLine {
  width: 50vw;
}

.landing-logo-animate {
  animation: logoEmerge 2s ease-in-out;
  transform: translateY(-300px) rotate(180deg) scale(0.4);
}
