.pay-now-popup-container {
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(19, 18, 18, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.pay-now-popup-inner-container {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1% 2.5%;
  border: 1px solid wheat;
  border-radius: 24px 16px 16px 0px;
  background: black;
  height: 400px;
}

.pay-now-popup-inner-container form {
  background-color: inherit;
}

.pay-now-popup-header {
  word-spacing: 5px;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  font-family: Blinker;
}

.pay-now-pop-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pay-now-popup-flex-container {
  display: flex;
}
.pay-now-popup-cross {
  font-size: 30px;
  font-weight: 1000;

  width: 5%;
  right: 5%;

  background-color: inherit;
  cursor: pointer;
  padding-top: 5px;
}
body.modal-open {
  position: fixed;
}
body.viewport-lg {
  position: absolute;
}
body.modal-open {
  overflow: hidden !important;
}
.pay-now-popup-rows {
  width: 100%;
  font-size: 1.4rem;
  font-family: Raleway;
  background-color: inherit;
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
}

.pay-now-popup-checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
}
// .pay-now-inside{
//   top: 9px;
//   left: 9px;
//   width: 8px;
//   height: 8px;
//   border-radius: 50%;
//   background: white !important;
// }
.pay-now-popup-links {
  background-color: inherit;
  padding: 2% 0px;
  cursor: pointer;
  z-index: 5;
}
.pay-now-popup-rows input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 29px;
  left: 0;
  z-index: 5;
}
.pay-now-popup-rows :hover input  ~ .pay-now-popup-checkmark .pay-now-inside {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 5px;
  background: white !important;
}

.pay-now-popup-rows input:checked ~ .pay-now-popup-checkmark {
  background: black;
  border: 2px solid wheat;
}
.pay-now-popup-rows input:checked ~ .pay-now-popup-checkmark .pay-now-inside {
  
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 5px;
  background: wheat !important;
  
}

.pay-now-pop-up-rows:after {
  content: '';
  position: absolute;
  display: none;
}

.pay-now-popup-rows input:checked ~ .pay-now-popup-checkmark:after {
  display: block;
}


.pay-now-popup-proceed-button {
  width: 20%;
  background: transparent;
  border: solid 1px #f5e4ca;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 1em;
  border-radius: 8px 4px 4px 0px;
  color: #f5e4ca;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
}

.pay-now-popup-proceed-button:hover {
  animation-iteration-count: infinite;
  color: black;
  background: linear-gradient(124.76deg, #f5e4ca 12.61%, #dbba89 63.66%);
}

@media screen and (max-width: 540px) {
  .pay-now-popup-inner-container {
    left: 10%;
    right: 10%;
    height: 260px;
    padding-top: 20px;
  }
  .pay-now-popup-header {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .pay-now-popup-rows {
    font-size: 0.8rem;
    padding-left: 12px;
    margin-bottom: 30px;
  }
  .pay-now-popup-checkmark {
    top: 2px;
    height: 15px;
    width: 15px;
  }
  .pay-now-popup-rows input:checked ~ .pay-now-popup-checkmark .pay-now-inside {
    width: 7px;
    height: 7px;
    margin: 2px;
  }
  .pay-now-popup-links {
   margin-left: 10px;
  }
  .pay-now-popup-rows input {
    height: 12px;
    width: 12px;
    top: 12px;
  }
  .pay-now-popup-proceed-button {
    font-size: 0.8rem;
    line-height: 1.8rem;
    width: 30%;
    padding: 0rem 0.5rem;
  }
  .pay-now-popup-cross {
    margin-top: 4px;
    top: 6.5%;
    right: 5.5%;
    width: 14px;
    font-size: 16px;
  }
}

@media screen and (width: 1024px) {
  .pay-now-popup-inner-container {
    left: 20%;
    right: 20%;
    height: 375px;
  }
}

@media screen and (width: 768px) {
  .pay-now-popup-inner-container {
    left: 15%;
    right: 15%;
    height: 380px;
  }
}
