.professional-pay-container {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 300px;
  height: 100px;
  border: 2px solid #dbba89;
  /* background-color: #ff5642; */
  z-index: 10000000000;
}

.pp-botton {
  background: linear-gradient(124.76deg, #f5e4ca 12.61%, #dbba89 63.66%);
  /* background-color: #5300BF; */
  width: 80%;
  height: 70%;
  margin: 5% 10%;
  display: flex;
  flex-direction: row;
  /* margin: 50px; */
  clip-path: polygon(10% 0, 100% 0, 100% 65%, 90% 100%, 0 100%, 0 33%);
  cursor: pointer;
}
.professional-pay-container a {
  text-decoration: none;
}

.pp-text {
  background-color: transparent;
  width: 100%;
  align-self: center;
}
.pp-text-1 {
  font-weight: 500;
  background-color: transparent;
  text-align: center;
  font-size: 1.1rem;
}
.pp-text-2 {
  font-weight: 200;
  background-color: transparent;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
  /* padding-top: -20px; */
  position: relative;
}
