.Share_popup_share_background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.Share_popup_mainDiv_behind {
  background: linear-gradient(124.76deg, #f5e4ca 12.61%, #dbba89 63.66%);
  width: 42vw;
  padding: 0.1rem;
  border-radius: 17px 17px 17px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Share_popup_mainDiv_front {
  background-color: black;
  width: 41.8vw;
  border-radius: 17px 17px 17px 0px;
  padding-left: 1.2rem;
}

.Share_popup_heading {
  display: flex;
  justify-content: space-between;
}

.Share_popup_share_heading {
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #e9f0f4;
}

.Share_popup_close_btn {
  padding-top: 0.7rem;
  padding-right: 1rem;
  color: white;
}

.Share_popup_subDiv_behind {
  background: linear-gradient(124.76deg, #f5e4ca 12.61%, #dbba89 63.66%);
  width: 39vw;
  border-radius: 20px 20px 20px 0px;
  padding: 0.05rem;
}

.Share_popup_subDiv_front {
  background-color: black;
  width: 38.9vw;
  border-radius: 20px 20px 20px 0px;
  padding-left: 1rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
}

.Share_popup_para {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.09em;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #e9f0f4;
}

::selection {
  color: none;
  background: none;
}

.Share_popup_copy_btn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.1rem;
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 29px;
  color: #f5e4ca;
}

.Share_popup_media_div {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  padding-right: 3.2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Share_popup_single_media_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Share_popup_media_title {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  padding-top: 0.3rem;
  color: #e9f0f4;
}

@media screen and (max-width: 768px) {
  .Share_popup_mainDiv_behind {
    width: 73vw;
  }
  .Share_popup_mainDiv_front {
    width: 72vw;
  }

  .Share_popup_subDiv_behind {
    width: 63vw;
  }
  .Share_popup_subDiv_front {
    width: 62.5vw;
  }

  .Share_popup_media_div {
    display: flex;
  }

  .Share_popup_single_media_div {
    padding: 0.2rem;
  }
  img {
    width: 20vw;
  }
  .Share_popup_media_title {
    display: none;
  }
}

@media screen and (width: 1024px) {
  .Share_popup_mainDiv_behind {
    width: 60vw;
  }
  .Share_popup_mainDiv_front {
    width: 59.5vw;
  }
  .Share_popup_subDiv_behind {
    width: 55vw;
  }
  .Share_popup_subDiv_front {
    width: 54.8vw;
  }
}
