.sponsorspage-title {
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 58px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.sponsorpage-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1% 13%;
  justify-content: space-evenly;
  flex-basis: 30%;
}
