.tasks-container {
  width: 450px;
  height: 200px;
  color: white;

  border: #f5e4ca 1px solid;
  border-radius: 10px 10px 10px 0px;
  position: relative;
  .tasks-container-discription {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    height: 45%;
    justify-content: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .tasks-container-date {
    text-align: end;
    width: 90%;
    font-family: Blinker;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
  }
  .tasks-container-share {
    margin-left: 20px;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding-top: 20px;
  }
  .tasks-container-share-button {
    width: 99px;
  }
  .tasks-container-share-score {
    font-family: Blinker;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .tasks-container {
    width: 360px;
    height: 170px;
    margin-bottom: 1vh;
    margin-left: 0px;
  }
  .tasks-container-discription {
    display: flex;
    width: 90%;
    margin-bottom: 0;
    height: 35%;
    justify-content: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .tasks-container-date {
    line-height: 10px;
  }
}
