.member-container {
  position: relative;
  width: 250px;
  height: 500px;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

.main:hover .member-card-name {
  height: 220px;
  max-height: 220px;
}

.hovered {
  transform: rotateY(180deg);
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 90% 100%, 0 100%);
}

.quotes-team-card-left {
  z-index: -200;
  background: transparent;
  margin-right: -20px;
}

.member-card-image {
  object-fit: cover;
  border-radius: 27px;
}
.social-links-handle {
  background: transparent;
}
.member-card-name {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Raleway;
  overflow: hidden;
  z-index: 5;
  // border-image: repeating-linear-gradient(
  //     90deg,
  //     rgba(221, 189, 141, 0) -0.12%,
  //     #ddbd8d 49.21%,
  //     rgba(221, 189, 141, 0) 100%
  //   )
  //   8;
}
.member-card-post {
  font-family: Blinker;
  font-weight: normal;
  font-size: 1.25rem;
  border-top: 2px solid;
  border-image: repeating-linear-gradient(
      90deg,
      rgba(221, 189, 141, 0) -0.12%,
      #ddbd8d 49.21%,
      rgba(221, 189, 141, 0) 100%
    )
    8;
  //border-image: linear-gradient(180deg, rgba(255, 211, 140, 0) 0%, #FFD38C 48.23%, rgba(255, 211, 140, 0) 100%);
}

.member-card-quote {
  padding-top: 17%;
  padding-right: 4%;
  padding-left: 4%;
  height: 200px;
}

.team-card-box {
  margin-top: 1%;
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 5;
  transition: 0.5s ease;
}

.member-container:hover {
  height: auto;
  .team-card-description-hidden {
    max-height: 150px;
  }
}

.team-card-description-hidden {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  color: white;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: center;
  border-bottom: 2px solid;
  border-image: repeating-linear-gradient(
      90deg,
      rgba(221, 189, 141, 0) -0.12%,
      #ddbd8d 49.21%,
      rgba(221, 189, 141, 0) 100%
    )
    8;
  max-height: 0;
  transition: 0.5s ease;
}

@media screen and (max-width: 480px) {
  .member-container {
    margin: unset;
  }
}
